body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
    padding: 3% 15%;
    font-size: 5rem;
    size: 5rem;
    color: #fff;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar {
    padding-bottom: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0 4.5rem;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.Download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    transform: rotate(25deg);
    width: 50%;
    position: absolute;
    right: 30%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
}
.icon {
    color: #ef8172;
    margin-bottom: 5%;
}
h3{
    font-family: 'Montserrat-bold';
    text-align: center;
}
h2{
    font-size: 1.5rem;
    font-family: 'Montserrat-bold';
    line-height: 1.5;
    text-align: center;
}
p{
    color: #8f8f8f;
    padding: 0 0 0 10px;
    text-align: center;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    padding-bottom: 5%;
    text-align: center;
    background-color: #ef8172;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}
@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
    
}
.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Montserrat-black';
    padding: 0% 15%;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.spanSpace {
    padding-left: 25px;
    padding-right: 25px;
}
#footer p {
    padding-top:25px;
    padding-bottom:25px;
    margin-bottom:0;
    
}
